.btn-edit,
.btn-delete {
        display: inline-block;
        padding: 5px 10px;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        font-size: 16px;
}

.btn-edit {
        background-color: green;
}

.btn-delete {
        background-color: red;
}

.staff-form {
        display: flex;
        width: 50%;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        margin: 2rem auto;
        border: 1px solid black;
        border-radius: 1rem;
        padding: 2rem;
}

.label-form {
        font-size: 1.2rem;
}

.input-form {
        width: 35%;
        margin: .5rem;
        font-size: 1rem;
        padding: .2rem;
        border-radius: .4rem;
        border: solid 1px black;
}

input[name='url_img'] {
        width: 100%;
}

.btn-form {
        display: inline-block;
        padding: 5px 10px;
        background-color: green;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        font-size: 16px;
        margin-top: 1rem;
}